<!DOCTYPE html>
<html>
  <head>
    <meta charset = 'utf-8'>
    <title>{{ title }} - Antoine Facerias</title>
    <link rel='stylesheet' src='url_for("static", filename="css/style.css")'>
  </head>
  <body>
    {% for post in posts%}
    {% include '_post_dashboard.html' %}
    {% endfor %}
    {% if prev_url %}
      <a href='{{ prev_url }}'>Newer posts</a>
    {% endif %}
    {% if next_url %}
      <a href ='{{ next_url }}'>Older posts</a>
    {% endif %}
    <a href="{{ url_for('dashboard') }}">Back</a>
  </body>
</html>
