{% extends 'bootstrap/base.html' %}

<!DOCTYPE html>
<html>
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    {% block title %}
      {{ title }} - Antoine Facerias
    {% endblock%}
  </head>
    {% block navbar %}
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a href="{{ url_for('index') }}">
              <img src='{{ url_for("static", filename="img/logo_200x200.png") }}' width=100 height=100>
            </a>
          </div>
            <ul class="nav navbar-nav">
              <li style='top:25px; font-size: 30px;'><a href='{{ url_for("index") }}'>Home</a></li>
              <li style='top:25px; font-size: 30px;'><a href='{{ url_for("blog") }}'>Blog</a></li>
              <li style='top:25px; font-size: 30px;'><a href='{{ url_for("contact") }}'>Contact</a></li>
            </ul>
          <ul class=" nav navbar-nav navbar-right">
            <li><a href='https://twitter.com/AntoineFcrias'><img src=' {{ url_for("static", filename="img/twitter.png") }}'></a></li>
            <li><a href='https://github.com/Atienon'><img src=' {{ url_for("static", filename="img/github.png") }}'></a></li>
            <li><a href='{{ url_for("rss") }}'><img src=' {{ url_for("static", filename="img/RSS.png") }}'></a></li>
          </ul>
        </div>
      </nav>
    {% endblock %}
    {% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}
    {% endwith %}
    <div class='container'>
    {% block app_content %}{% endblock %}
  </div>
    <hr>
    <footer>
      <div class='container'>
        <div class='row'>
          <div class='col-sm-3'>
            <img src="{{ url_for('static', filename='img/logo_200x200.png')}}" width=150 height=150>
          </div>
          <div class='col-sm-9'>
              <p>
                Hello everyone and thank you for visiting this blog! This blog is a project I wanted to build for a bit, in order to improve my skills in web development.
              </p>
              <p>
                I don't know if you'll find a lot of content at the moment of your visit, but know that I plan on posting time to time, even though I haven't decided what kind of content yet.
              </p>
              <p>
                If you're a developer, feel free to check out the repository for this blog on GitHub and let me know of any remarks!
              </p>
          </div>
        </div>
      </div>
      <hr>
      <p style='text-align:center'>© Copyright 2020. All rights reserved.</p>
    </footer>
{% endblock %}
{% block scripts %}
  {{ super() }}
  {{ moment.include_moment()}}
{% endblock %}
