{% import 'bootstrap/wtf.html' as wtf%}
{% if comments %}<hr>{% endif %}
{% for comment in comments %}
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-2">
      <img src="{{ comment.avatar(64)}}" class="card-img" alt="Avatar">
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">{{ comment.name }} says: </h5>
        <p class="card-text">{{ comment.comment }}</p>
        <p class="card-text"><small class="text-muted">Posted {{ moment(comment.timestamp).fromNow() }}</small></p>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<nav aria-label="...">
    <ul class="pager">
        <li class="previous{% if not prev_url %} disabled{% endif %}">
            <a href="{{ prev_url or '#' }}">
                <span aria-hidden="true">&larr;</span> Newer comments
            </a>
        </li>
        <li class="next{% if not next_url %} disabled{% endif %}">
            <a href="{{ next_url or '#' }}">
                Older comments <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
    </ul>
</nav>
<hr>
<div class='row'>
  <div class='col-md-8'>
    {{ wtf.quick_form(form) }}
  </div>
</div>
