{% extends 'base_dashboard.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
    <div class='container'>
      <div class='row'>
        <div class='col-sm-6'>
          <img src="{{ url_for('comments_graph') }}" height=400>
        </div>
        <div class='col-sm-3'>
          <img src="{{ url_for('visits_graph') }}" height=400>
        </div>
      </div>
      <div class='row'>
        <div class='col-sm'>
          {{ wtf.quick_form(form) }}
        </div>
      </div>
      <hr>
      <div class='row'>
        <div class='col-sm-4'>
          <ul>
            <li>New comments today: {{ stats.comments }}</li>
            <li>Number of visits today: {{ stats.visits }}</li>
          </ul>
        </div>
        <div class='col-sm-6'>
          <ul>
            <li><a href="{{ url_for('all_posts') }}">See all posts</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
{% endblock %}
