<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name='author' content='Antoine Facerias'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='{{ url_for("static", filename="css/style.css") }}'>
    <title>{{ title }} - Antoine Facerias</title>
  </head>
  <body>
    <form action-='' method='POST'>
      {{ form.hidden_tag() }}
      <p>
        {{ form.email.label }}<br>
        {{ form.email(size=32) }}<br>
        {% for error in form.email.errors %}
        <span style='color:red'>[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}<br>
        {% for error in form.password.errors %}
        <span style='color:red'>[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ form.submit() }}
      </p>
    </form>
  </body>
</html>
